# -*- coding:utf-8 -*-
from fanstatic import get_needed, init_needed, Resource
from fanstatic.core import DummyNeededResources
from fanstatic.injector import TopBottomInjector
import js.${pythonname}

init_needed()

for name,v in js.${pythonname}.__dict__.items():
    if isinstance(v, Resource):
        v.need()

needed = get_needed()

assert not isinstance(needed, DummyNeededResources)
template = u"<html><head></head></html>".encode("utf-8")
html = TopBottomInjector({})(template, needed)
assert template != html and len(template) < len(html)

print(html)
