# -*- coding:utf-8 -*-
#<%namespace module="metafanstatic.viewhelpers" name="vh"/>
<%\
from metafanstatic import viewhelpers as vh
import os.path
resource_path = os.path.join(os.path.dirname(context.get(":dst:", ".")), "resources")
%>
from fanstatic import Library, Resource
library = Library('${context.get("name")}', 'resources')

%for name, filename, minified in vh.JSResourceIterator(bower_dir_path, main_js_path_list, resource_path):
%if minified:
${name} = Resource(library, '${filename}', minified='${minified}')
%else:
${name} = Resource(library, '${filename}')
%endif
%endfor
